body{
	width:800px;
	margin:0 auto;

}
.place{
	display:inline-block;
	padding-left:20px;
	padding-right:20px;
	/*background-color: blue;*/
	/*color: white;*/
	text-align: center;
	border:solid 1px black;

}

#textarea{
	padding:10px;
	width:650px;
	height:200px;
	overflow:scroll;
	border:solid 1px black;
}

.green{
	color:green;
}

.red{
	color:red;
}
